body {
    margin: 0;
    height: 100vh;
    font-family:Arial, Helvetica, sans-serif;
}
#oscillators {
    background-color: beige;
    height:200px;
}
#code {
    background-color: cyan;
    text-align: center;
    overflow: auto;
    float:left;
    width: 100%;
    height:calc(100vh - 250px);
    padding: 20px 60px;box-sizing: border-box
}
#menu {
    height:50px;
    width:100%;
    background-color: darkslategray;
    z-index: 9999;
    position:sticky
}

