body {
    margin: 0;
    height: 100vh;
    font-family:Arial, Helvetica, sans-serif;
}
#oscillators {
    background-color: beige;
    height:20%;
}
#code {
    background-color: cyan;
    text-align: center;
    height:70%;
    padding:35px
}
#menu {
    height:10%;
    width:100%;
    background-color: darkslategray;
}
#guiPreview {
    padding:15px;
    overflow: scroll;
}
