#menu > div, #menu > a, #create > a, #create > div {
    display: block;
    float:left;
    overflow: hidden;
    color:white;
    height: 100%;
}
#create {
    width: fit-content;
}
#plus_svg {
    width:40px;
    text-align: center;
    background:url("../svg/plus.svg");
    background-repeat: no-repeat;
    background-size: 40px;
    height: 100%;
}
#site_title {
    font-size: 30px;
    margin-right: 20px;
}
.menu_lowered {
    margin-top: 10px;
}
