#menu > div {
    float: left;
    height: 100%;
    margin-left: 50px;
    font-size: 20px;
    line-height: 50px;
    color:white;
}
.menu_lowered span, #add_node li {
    padding-left: 10px;
    padding-right: 10px;
}
.menu_lowered:hover {
    background-color: #333;
}
#add_node, #add_node ul {
    display: none;
    margin: 0;
    padding: 0;
    background-color: darkslategray;
    list-style-type: none;
}
.menu_lowered:hover #add_node, #oscTypes:hover ul {
    display: block;
}
#oscTypes li {
    background-color: slategray;
}
#oscTypes ul {
    position: absolute;
    margin-left:129px;
    margin-top:-50px;
}
#add_node li:hover {
    cursor: pointer;
    background-color: #333;
}